{% extends 'base.html' %}

{% block title %}
Update Offer - {{ block.super }}
{% endblock title %}

{% block content %}
<h2>Update Offer</h2>

<div id="offer-update-wrapper">
    <div id="offer-update-box">
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <button class="form-control btn btn-success" type='submit'>Update Offer</button>
        </form>
    </div>
</div>

<a href="{% url 'trading_list' %}" class="btn btn-primary">Back to Trading Page</a>
{% endblock content %}