{% extends 'base.html' %}

{% block title %}
Create Offer - {{ block.super }}
{% endblock title %}

{% block content %}
<h2>Create Offer</h2>

<div id="offer-create-wrapper" class="form-wrapper">
    <div id="offer-create-box" class="form-box">
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <button class="form-control btn btn-success" type='submit'>Create Offer</button>
        </form>
    </div>
</div>

<a href="{% url 'trading_list' %}" class="btn btn-primary">Back to Trading Page</a>
{% endblock content %}